/* the styles for the elements */
* {
	margin: 0;
	padding: 0;
}
html {
	background-color: white;
}
body {
	font-family: Arial, Helvetica, sans-serif;
    font-size: 100%;
    width: 800px;
    margin: 0 auto;
    border: 3px solid green;
    background-color: white;
}
/* the styles for the header */
header {
	padding: 1.5em 0 2em 0;
	border-bottom: 3px solid green;
	background-color: white;
}
a {
    font-style: italic;
}
header img {
	float: left;
    width: 85px;
    height: 80px;
	padding: 0 10px;
}

header h2 {
	font-size: 175%;
}
header h3 {
	font-size: 130%;
    font-style: italic;
	padding-bottom: 1px;
}
/* the styles for the form */
fieldset {
    margin-bottom: .5em;
    padding: .5em 1em;
}
legend {
    font-weight: bold;
    font-size: 85%;
    padding-bottom: .5em;
}
label, input, select {
	font-size: 90%;
}
input, select {
    width: 15em;
    margin-left: .5em;
    margin-bottom: .5em;
}
br {
    clear: both;
}
#radio label {
	float: none;
}
#radio input {
	width: auto;
	margin-left: 3em;
}
#exp_month {
	width: 7em;
}
#exp_year {
	width: 5em;
}
#buttons input {
	width: 10em;
}

/* the styles for the navigation menu */
#nav_menu ul {
	list-style-type: none;
	margin: 0;
	padding: 0;
	position: relative;
}
#nav_menu ul li {
	float: left;
}
#nav_menu ul li a {
    display: block;
    width: 160px;
    text-align: center;
    padding: 1em 0;
    text-decoration: none;
    background-color: green;
    color: white;
    font-weight: bold;
}
#nav_menu a.current {
	color: yellow;
}
#nav_menu ul ul {
    display: none;
    position: absolute;
    top: 100%;
}
#nav_menu ul ul li {
	float: none;
}
#nav_menu ul li:hover > ul {
	display: block;
}
#nav_menu > ul::after {
    content: "";
    clear: both;
    display: block;
}
#nav_list ul { 
	list-style: none;
	padding-left: 1.5em;
}
#nav_list ul li { 
	width: 110px;
	margin-bottom: .5em;
}
#nav_list ul li a {
	display: block;
	font-weight: bold;
	text-decoration: none;
	padding: .5em 0 .5em .5em;
	color: black;
}
/* the styles for the main content */
main {
	clear: left;
}

/* the styles for the section */
section {
	width: 525px;
	float: right;
	padding: 0 20px 20px 20px;	
}
section h1 {
	font-size: 150%;
	color: red;
	padding: .5em 0 .25em 0;
	margin: 0;
}

/* the styles for the aside */
aside {
	float: left; 
	width: 215px;
	padding: 0 0 20px 20px;
}
aside h2 {
	color: red;
	font-size: 130%;
	padding: .5em 0 .25em 0;
}

aside h3 {
	font-size: 105%;
	padding-bottom: .25em;
}
aside img {
	padding-bottom: 1em;
    width: 100px;
    height: 100px;
    vertical-align: middle;
}


/*table*/
table {
	border: 1px solid black;
}
td {
	border: 1px solid black;
	padding: .2em .7em;
	text-align: left;
}
th{
	border: 1px solid black;
	padding: .2em .7em;
	text-align: center;
}
thead {
	background-color: white;
	border: 1px solid black;
}
tfoot {
	font-weight: bold;
}

label {
	float: left;
	width: 10em;
	text-align:left;
}
#buttons input {
	width: 10em;
}

#radios input {
	width: 3em;
}
/* the styles for the footer */
footer { 
	clear: both;
	border-top: 2px solid green;
	padding: 15px;
    background: green;
}

footer p {
	text-align: center;
	color: white;
	padding: 1em 0;
}
